:root {
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.social-proof-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-proof-card {
  width: 80%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-image: url('./images/bg-pattern-top-desktop.svg');
  background-size: 50%;
  background-repeat: no-repeat;
}
/* About section styling */
.about {
  width: 30%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  margin-left: 15px;
}

.about h3 {
  font-size: 25px;
  color: var(--Very-Dark-Magenta);
  font-weight: 700;
}
.about p {
  font-size: 9px;
  line-height: 12px;
  color: var(--Dark-Grayish-Magenta);
  font-weight: 700;
}

/* Rating Section Styling */
.ratings {
  width: 55%;
  height: 40%;
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.rating-box-one,
.rating-box-two,
.rating-box-three {
  display: flex;
  align-items: center;
  width: 60%;
  height: 20%;
  padding: 15px 15px;
  background-color: var(--Light-Grayish-Magenta);
  margin-top: 3%;
  border-radius: 5px;
}

.rating-box-three {
  align-self: end;
}

.rating-box-two {
  align-self: center;
}

.ratings img {
  width: 3%;
  height: 270%;
  margin-left: 1%;
}

.ratings h5 {
  font-size: 8px;
  margin-left: 5%;
  font-weight: 700;
  color: var(--Very-Dark-Magenta);
}

/* Review section styling */
.reviews {
  width: 100%;
  height: 50%;
  display: flex;
  margin-top: auto;
  justify-content: space-between;
}

.review-section {
  display: flex;
  width: 60%;
  justify-content: space-between;
}

.review-section img {
  width: 20%;
  height: 20%;
  border-radius: 50px;
  align-items: center;
}

.review-block-one,
.review-block-two,
.review-block-three {
  background-color: var(--Very-Dark-Magenta);
  height: 80%;
  padding: 25px 25px;
  border-radius: 5px;
  margin-left: 2%;
}

.review-block-two {
  align-self: center;
}

.review-block-three {
  align-self: flex-end;
}

.name {
  font-size: 9px;
  font-weight: 700;
  color: var(--White);
  line-height: 18px;
}

.state {
  font-size: 9px;
  font-weight: 700;
  color: var(--Soft-Pink);
}
.person-info {
  margin: auto;
}
.person-review {
  font-size: 9px;
  line-height: 20px;
  color: var(--White);
  margin-top: 5%;
}
